<a href="https://colab.research.google.com/github/tskkeimashi/dqlab-challeng/blob/main/dqlab_x_ct_corp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#web scrapping
import pandas as pd
import requests
from bs4 import BeautifulSoup

#Request ke website
website_url = requests.get('https://id.wikipedia.org/wiki/Demografi_Indonesia').text
soup = BeautifulSoup(website_url, 'lxml')

#Ambil table dengan class 'wikitable sortable'
my_table = soup.find('table', {'class':'wikitable sortable'})

#cari data dengan tag 'td'
links = my_table.findAll('td')

#Membuat lists kosong
kode_bps = []
nama = []
ibu_kota = []
populasi = []
luas_km = []
pulau = []
#memasukkan data ke dalam list berdasarkan pola HTML
for i, link in enumerate(links):
    if i in range(0, len(links), 9):
        kode_bps.append(link.get_text())
    if i in range(2, len(links), 9):
        nama.append(link.get_text())
    if i in range(4, len(links), 9):
        ibu_kota.append(link.get_text())
    if i in range(5, len(links), 9):
        populasi.append(link.get_text())
    if i in range(6, len(links), 9):
        luas_km.append(link.get_text())
    if i in range(8, len(links), 9):
        pulau.append(link.get_text()[:-1])

#Membuat DatFrame
df = pd.DataFrame()
df['Kode BPS'] = kode_bps
df['Nama'] = nama
df['Ibu Kota'] = ibu_kota
df['Populasi'] = populasi
df['Luas km'] = luas_km
df['Pulau'] = pulau

print(df)
#Perintah jika ingin dimasukkan kedalam file csv
df.to_csv('Indonesia_Demography_by_Province.csv', index=False, encoding='utf-8', quoting=1)

   Kode BPS                           Nama  ...     Luas km          Pulau
0        11                           Aceh  ...   56.500,51        Sumatra
1        12                  Sumatra Utara  ...   72.427,81        Sumatra
2        13                  Sumatra Barat  ...   42.224,65        Sumatra
3        14                           Riau  ...   87.844,23        Sumatra
4        15                          Jambi  ...   45.348,49        Sumatra
5        16                Sumatra Selatan  ...   60.302,54        Sumatra
6        17                       Bengkulu  ...   19.795,15        Sumatra
7        18                        Lampung  ...   37.735,15        Sumatra
8        19      Kepulauan Bangka Belitung  ...   16.424,14        Sumatra
9        21                 Kepulauan Riau  ...    8.084,01        Sumatra
10       31  Daerah Khusus Ibukota Jakarta  ...      740,29           Jawa
11       32                     Jawa Barat  ...   36.925,05           Jawa
12       33                    Jawa Tengah  ...   32.799,71           Jawa
13       34     Daerah Istimewa Yogyakarta  ...    3.133,15           Jawa
14       35                     Jawa Timur  ...   46.689,64           Jawa
15       36                         Banten  ...    9.018,64           Jawa
16       51                           Bali  ...    5.449,37  Nusa Tenggara
17       52            Nusa Tenggara Barat  ...   19.708,79  Nusa Tenggara
18       53            Nusa Tenggara Timur  ...   46.137,87  Nusa Tenggara
19       61               Kalimantan Barat  ...  120.114,32     Kalimantan
20       62              Kalimantan Tengah  ...  153.564,50     Kalimantan
21       63             Kalimantan Selatan  ...   37.530,52     Kalimantan
22       64               Kalimantan Timur  ...  194.849,08     Kalimantan
23       65               Kalimantan Utara  ...   72.567,49     Kalimantan
24       71                 Sulawesi Utara  ...   13.930,73       Sulawesi
25       72                Sulawesi Tengah  ...   68.089,83       Sulawesi
26       73               Sulawesi Selatan  ...   46.116,45       Sulawesi
27       74              Sulawesi Tenggara  ...   36.757,45       Sulawesi
28       75                      Gorontalo  ...   12.165,44       Sulawesi
29       76                 Sulawesi Barat  ...   16.787,19       Sulawesi
30       81                         Maluku  ...   47.350,42         Maluku
31       82                   Maluku Utara  ...   39.959,99         Maluku
32       91                    Papua Barat  ...  114.566,40          Papua
33       94                          Papua  ...  309.934,40          Papua

[34 rows x 6 columns]

In [2]:
#regex
import re

#function email_check
def email_check(input):
    match = re.search('(?=^((?!-).)*$)(?=[^0-9])((?=^((?!\.\d).)*$)|(?=.*_))',input)

    if match:
        print('Pass')
    else:
        print('Not Pass')

#Masukkan daftar email ke dalam list
emails = ['my-name@someemail.com', 'myname@someemail.com','my.name@someemail.com',
'my.name2019@someemail.com', 'my.name.2019@someemail.com',
'somename.201903@someemail.com','my_name.201903@someemail.com',
'201903myname@someemail.com', '201903.myname@someemail.com']

#Looping untuk pengecekan Pass atau Not Pass
for email in emails :
    email_check(email)

Not Pass
Pass
Pass
Pass
Not Pass
Not Pass
Pass
Not Pass
Not Pass